{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="main">

  <div class="page-title" data-aos="fade">
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>Narxlar</h1>
            <p class="mb-0">O'quv markazimizdagi kurslar va xizmatlar uchun taklif etiladigan tarif rejalarimiz bilan tanishing. O'zingizga qulay paketni tanlang va bilim olishni bugundan boshlang.</p>
          </div>
        </div>
      </div>
    </div>
  </div><section id="pricing" class="pricing section">

    <div class="container">

      <div class="row gy-3">

        <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="pricing-item">
            <h3>Boshlang'ich</h3>
            <h4><sup>$</sup>0<span> / oyiga</span></h4>
            <ul>
              <li>Bepul dars materiallari</li>
              <li>Haftalik ochiq darslar</li>
              <li>Dastlabki sinov testi</li>
              <li class="na">Yopiq hamjamiyatga kirish</li>
              <li class="na">Mentor bilan individual ish</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Hozir boshlash</a>
            </div>
          </div>
        </div><div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="pricing-item featured">
            <h3>Standart</h3>
            <h4><sup>$</sup>19<span> / oyiga</span></h4>
            <ul>
              <li>Barcha asosiy kurslar</li>
              <li>Amaliy topshiriqlar</li>
              <li>Guruhda muhokamalar</li>
              <li>Yopiq hamjamiyatga kirish</li>
              <li class="na">Mentor bilan individual ish</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Sotib olish</a>
            </div>
          </div>
        </div><div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="pricing-item">
            <h3>Professional</h3>
            <h4><sup>$</sup>29<span> / oyiga</span></h4>
            <ul>
              <li>Barcha video darsliklar</li>
              <li>Kengaytirilgan amaliyot</li>
              <li>Sertifikat taqdim etish</li>
              <li>Yopiq hamjamiyatga kirish</li>
              <li>Mentor bilan individual ish</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Sotib olish</a>
            </div>
          </div>
        </div><div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="pricing-item">
            <span class="advanced">Maksimal</span>
            <h3>Premium</h3>
            <h4><sup>$</sup>49<span> / oyiga</span></h4>
            <ul>
              <li>Cheksiz kurslar va darslar</li>
              <li>Shaxsiy mentor yordami</li>
              <li>Portfolio yaratishda ko'mak</li>
              <li>Ishga joylashish kafolati</li>
              <li>Eksklyuziv master-klasslar</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Sotib olish</a>
            </div>
          </div>
        </div></div>

    </div>

  </section></main>

{% endblock %}