{% extends 'base.html' %}
{% block content %}
<main class="main">
  <div class="page-title" data-aos="fade">
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>✅ Muvaffaqiyatli!</h1>
            <p>Siz muvaffaqiyatli ro'yxatdan o'tdingiz! Tez orada siz bilan bog'lanamiz.</p>
            <a href="{% url 'courses_page' %}" class="btn text-white mt-3" style="background-color: #e82d2d;">
              ← Kurslarga qaytish
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}