{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="main">

  <div class="page-title" data-aos="fade">
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>Boshlang'ich sahifa</h1>
            <p class="mb-0">Bu sahifa siz uchun shablon vazifasini o'taydi. Undan o'zingizga kerakli bo'lgan yangi, maxsus sahifalarni yaratish va tarkibini o'zgartirish uchun asos sifatida foydalanishingiz mumkin.</p>
          </div>
        </div>
      </div>
    </div>
  </div><section id="starter-section" class="starter-section section">

    <div class="container section-title" data-aos="fade-up">
      <h2>Asosiy bo'lim</h2>
      <p>Bu yerga bo'lim tavsifini kiriting</p>
    </div><div class="container" data-aos="fade-up">
      <p>Ushbu tayyor maketdan saytingiz uchun yangi va unikal sahifalar yaratishda namuna sifatida foydalaning.</p>
    </div>

  </section></main>

{% endblock %}